arrow1 {
  min-height: 100px;
  background: black;
}

arrow2 {
  min-height: 80px;
  background: red;
}

arrow3 {
  min-height: 60px;
  background: blue;
}

clock {
  min-width: 200px;
  min-height: 200px;
  border-radius: 100%;
  background: white;
}
